{% sw_extends '@Storefront/storefront/utilities/offcanvas.html.twig' %}

{% block utilities_offcanvas_close %}
    <button class="btn btn-secondary offcanvas-close js-offcanvas-close">

        {% block utilities_offcanvas_close_icon %}
            {{ parent() }}
        {% endblock %}

        <span class="continue-shopping">
            {% block utilities_offcanvas_close_text %}
                {{ parent() }}
            {% endblock %}
        </span>
    </button>
{% endblock %}
