{% sw_extends '@Storefront/storefront/component/checkout/cart-header.html.twig' %}

{# Sticky header class #}
{% block component_checkout_cart_header_element %}
    <li class="card-title cart-table-header cart-table-header--sticky" aria-hidden="true">
        <div class="row cart-header-row">
            {% block component_checkout_cart_header_product_info %}
                {% set checkoutItemCounter = page.cart.lineItems|length %}

                <div class="col-{{ infoColumnSize }} cart-header-info position-relative">
                    {% if checkoutItemCounter > 0 %}
                        {{ 'checkout.cartHeaderInfoPlural'|trans|sw_sanitize }}
                        <span class="badge checkout-cart">{{ checkoutItemCounter }}</span>
                    {% endif %}
                </div>
            {% endblock %}

            {# Remove columns #}
            {% block component_checkout_cart_header_quantity %}{% endblock %}

            {% if showTaxPrice %}
                {% block component_checkout_cart_header_tax_price %}{% endblock %}
            {% else %}
                {% block component_checkout_cart_header_unit_price %}{% endblock %}
            {% endif %}

            {% block component_checkout_cart_header_total_price %}{% endblock %}
        </div>
    </li>
{% endblock %}
