{% sw_extends '@Storefront/storefront/component/checkout/cart-header.html.twig' %}

{% block component_checkout_cart_header %}
    {% if showRemoveColumn is not defined %}
        {% set showRemoveColumn = true %}
    {% endif %}

    {% if showSubtotal is not defined %}
        {% set showSubtotal = true %}
    {% endif %}

    {% set subtotalColumnSize = 2 %}
    {% set infoColumnSize = 8 %}
    {% if showSubtotal %}
        {% set infoColumnSize = infoColumnSize - subtotalColumnSize %}
    {% endif %}
    {% if showRemoveColumn %}
        {% set infoColumnSize = infoColumnSize - 1 %}
    {% endif %}

    {# @deprecated tag:v6.8.0 - Will be removed, use infoColumnSize with a prefix instead. #}
    {% set infoColumnClass = 'col-' ~ infoColumnSize %}

    {% block component_checkout_cart_header_element %}
        <li class="card-title cart-table-header" aria-hidden="true">

            <div class="row cart-header-row">
                {% block component_checkout_cart_header_product_info %}
                    <div class="col-{{ infoColumnSize }} cart-header-info">
                        {{ page.cart.lineItems|length|sw_sanitize }}
                        {{ 'checkout.cartHeaderInfo'|trans|sw_sanitize }}
                    </div>
                {% endblock %}

                {% block component_checkout_cart_header_quantity %}
                {% endblock %}

                {% if showTaxPrice %}
                    {% block component_checkout_cart_header_tax_price %}
                    {% endblock %}
                {% else %}
                    {% block component_checkout_cart_header_unit_price %}
                    {% endblock %}
                {% endif %}

                {% block component_checkout_cart_header_total_price %}
                {% endblock %}
            </div>
        </li>
    {% endblock %}
{% endblock %}
